name: Run Django Tests
on:
  push:
    branches: [main]
jobs:
  test-django-app:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip and install virtualenv
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install virtualenv

      - name: Create virtual environment
        run: |
          python3 -m virtualenv venv
          
      - name: Install dependencies
        run: |
          . venv/bin/activate
          python3 -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Check if Django is installed
        run: |
          . venv/bin/activate
          python3 -m django --version

      - name: Run migrations
        run: |
          . venv/bin/activate
          python3 manage.py migrate

      - name: Run Django test
        run: |
          . venv/bin/activate
          python3 manage.py test


      - name: Deploy to EC2
        if: success() 
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.EC2_PRIVATE_KEY }}
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@54.81.158.3 << 'EOF'
            bash /home/ubuntu/store/Bookstore/deploy.sh
          EOF
          
